<!--Meta Tags-->
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <base href="/">

 <title>WhatsPromo</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta name="keywords" content="promociones">
 <meta name="description" content="{{htmlToPlainText promotion.promoDescription}}">
 <!--FACEBOOK-->
 <meta property="og:title" content="{{promotion.promoTitle}}">
 <meta property="og:site_name" content="WhatsPromo">
 <meta property="og:description" content="{{htmlToPlainText promotion.promoDescription}}">
 <meta property="og:image" content="https://{{promotion.socialImage}}">
 <meta property="fb:app_id" content="">
 <meta property="og:type" content="website">
 <meta property="og:locale" content="es-ES">
 <!--TWITTER-->
 <meta property="twitter:card" content="summary">
 <meta property="twitter:title" content="{{promotion.promoTitle}}">
 <meta property="twitter:description" content="{{htmlToPlainText promotion.promoDescription}}">
 <meta property="twitter:creator" content="">
 <meta property="twitter:image" content="https://{{promotion.socialImage}}">
 <meta property="twitter:image:alt" content="https://{{promotion.socialImage}}">
 
