{{!< default}} 

{{#contentFor 'pageStyles'}} <style>
      </style>
      {{/contentFor}} 
      
      {{#contentFor 'customScripts'}}
      <script>
            var endPromotionDateStr = "{{{promotion.endDate}}}";
            var endPromotionDate = new Date(endPromotionDateStr);
            var promoId = "{{{promotion.promoId}}}";
            var promo_id = "{{{promotion._id}}}";
            var promoEnded = "{{{promotion.promoEnded}}}";
            var userParticipating = "{{{userIsParticipating participation}}}";
            var pushEnabled = "{{{user.hasPushEnabled}}}";
            var promoLat = "{{{promotion.lat}}}";
            var promoLng = "{{{promotion.lng}}}";

      </script>
      {{/contentFor}} 
      
      {{#contentFor 'googleAnalyticsScripts'}}
      <script type="text/javascript">



      </script>
      {{/contentFor}} 

      {{#contentFor 'facebookAnalyticsScripts'}}
            <!-- Facebook Pixel Code -->
            <script>
            !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
            document,'script','https://connect.facebook.net/es_ES/fbevents.js');
            fbq('init', '{{{promotion.facebookTrackingPixel}}}'); // Insert your pixel ID here.
            fbq('track', 'PageView');
            </script>
            <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id={{{promotion.facebookTrackingPixel}}}&ev=PageView&noscript=1"
            /></noscript>
            <!-- DO NOT MODIFY -->
            <!-- End Facebook Pixel Code -->
      {{/contentFor}} 

      
      
      {{#contentFor 'OneSignalScripts'}}
   
      {{/contentFor}}




     
<div class="ui raised very padded text container segment">
  <img class="ui centered medium image" src="https://whatspromo.com/wp/wp-content/uploads/2017/03/logo_2.png">
 <h2 class="ui header">
  <i class="laptop icon"></i>
  <div class="content">
    隆Vaya! Has accedido a la promoci贸n desde un ordenador o una tablet 
  </div>
</h2>
  <p>En estos momentos solo puedes acceder desde un dispositivo m贸vil. Estamos trabajando para que lo veas en todos los dispositivos. 隆Disculpa las molestias!</p>
  
  <br><br><br><br>
  <div class="site-info">
  <span class="site-title">漏 WhatsPromo 2017 路</span> <a href="https://whatspromo.com/wp/terminos-y-condiciones/">T茅rminos y Condiciones 路</a><a href="https://whatspromo.com/wp/politica-de-privacidad/"> Pol铆tica de Privacidad</a></div>
  </div>