{{!< default}} 
{{#contentFor 'pageStyles'}} <style>
      </style>
      {{/contentFor}} 
      {{#contentFor 'customScripts'}}
      <script>
            var endPromotionDateStr = "{{{promotion.endDate}}}";
            var endPromotionDate = new Date(endPromotionDateStr);
            var promoId = "{{{promotion.promoId}}}";
            var promo_id = "{{{promotion._id}}}";
            var promoEnded = "{{{promotion.promoEnded}}}";
            var userParticipating = "{{{userIsParticipating participation}}}";
            var promoLat = "{{{promotion.lat}}}";
            var promoLng = "{{{promotion.lng}}}";
            var shareMessage = "{{{promotion.shareMessages}}}";
      </script>
      {{/contentFor}} 
      {{#contentFor 'googleAnalyticsScripts'}}
      <script type="text/javascript">
            ga('create', '{{{promotion.googleTrackingPixel}}}', 'promotion');
            ga('promotion.send', 'pageview');
      </script>
      {{/contentFor}} 
      {{#contentFor 'facebookAnalyticsScripts'}}
      <!-- Facebook Pixel Code -->
      <script>
            !function (f, b, e, v, n, t, s) {
                  if (f.fbq) return; n = f.fbq = function () {
                        n.callMethod ?
                              n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                  }; if (!f._fbq) f._fbq = n;
                  n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
                  t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
            }(window,
                  document, 'script', 'https://connect.facebook.net/es_ES/fbevents.js');

            fbq('init', '199917957187127'); // WhatsPromo pixel.
            fbq('init', '{{{promotion.facebookTrackingPixel}}}'); // Insert your pixel ID here.

            fbq('track', 'PageView');
      </script>
      <noscript>
            <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=199917957187127&ev=PageView&noscript=1"
            />
            <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id={{{promotion.facebookTrackingPixel}}}&ev=PageView&noscript=1"
            /></noscript>
      <!-- DO NOT MODIFY -->
      <!-- End Facebook Pixel Code -->





      {{/contentFor}} 
      {{#contentFor 'OneSignalScripts'}}
      <script type="text/javascript">
            function subscribe() {
                  OneSignal.push(["registerForPushNotifications"]);
                  event.preventDefault();
            }


            /*Initialize OneSignal SDK*/
            var OneSignal = window.OneSignal || [];
            OneSignal.push(["init", {
                  appId: "8821d4e1-cbef-499a-8f8f-c8d3e3db506f",
                  safari_web_id: 'web.onesignal.auto.2cb21d9d-922f-420a-8137-99f511b7fc1b',

                  autoRegister: false,
                  notifyButton: {
                        enable: false /* Set to false to hide */
                  }
            }]);

            /*Wrapper ga close push modal*/
            var closePushModalEvent = function(){
                  ga('send', 'event', 'WebApp', 'modal', 'ask_for_push_notifications_cancel');
            }

            /* Custom message asking for web push suscribe */
            OneSignal.push(function () {
                  // If we're on an unsupported browser, do nothing
                  if (!OneSignal.isPushNotificationsSupported()) {
                        console.log("NOT ALLOWED - onesignal suscribe modal");
                        return;
                  }
                  OneSignal.isPushNotificationsEnabled(function (isEnabled) {
                        if (isEnabled) {
                              // The user is subscribed to notifications
                              // Don't show anything
                              console.log("ENABLED - onesignal suscribe modal");
                        } else {
                              console.log("ASK - onesignal suscribe modal");

                              if (userParticipating == "true" && promoEnded == "false") {
                                    setTimeout(function () {
                                          /*Enable push modal*/
                                          $('.ask-push.modal').click(function (e) { ga('send', 'event', 'WebApp', 'modal', 'ask_for_push_notifications'); });
                                          $('.ask-push.modal').modal({
                                                closable: true,
                                                onDeny: function () {
                                                      console.log('Cancela notificaciones push');
                                                      closePushModalEvent();
                                                      return false;
                                                },
                                                onApprove: function () {
                                                      console.log('Acepta notificaciones push');
                                                      ga('send', 'event', 'WebApp', 'modal', 'ask_for_push_notifications_approve');

                                                      subscribe();
                                                }
                                          }).modal('show');
                                    }, 15000);
                              }

                        }
                  });
            });

            /*Handle suscribe action to get OneSignal UUID for storing it with the User ID*/
            OneSignal.push(function () {
                  OneSignal.on('subscriptionChange', function (isSubscribed) {
                        if (isSubscribed) {
                              // The user is subscribed
                              //   Either the user subscribed for the first time
                              //   Or the user was subscribed -> unsubscribed -> subscribed
                              OneSignal.getUserId(function (onsesignalId) {
                                    var userId = $.cookie("userId");

                                    //Attach Promotion ID to OneSignal UUID as a tag
                                    OneSignal.push(["sendTag", "promoId", promoId]);
                                    OneSignal.push(["sendTag", "userId", userId]);

                                    // Make a POST call to your server with the user ID
                                    $.ajax({
                                          type: "POST",
                                          url: '//' + window.location.host + '/api/user/' + userId + '/enablepush',
                                          dataType: "json",
                                          data: {
                                                onsesignalId: onsesignalId,
                                                promoId : promoId
                                          },
                                          success: function (data) {
                                                console.error("OneSignalId ("+onsesignalId +") succesfull set for user: "+userId);
                                          },
                                          error: function () {
                                                console.error("Cannot set OneSignalId and increment points ");
                                          }
                                    });

                              });

  

                        }
                  });
            });
      </script>
      {{/contentFor}}




      <!--Sidebar Menu-->
      {{>sidebar-menu}}
      <!--end Sidebar Menu-->

      <!-- Page Contents-->
      <div class="pusher">

            <!--Modal enable-push-->
            {{>modal-enable-push}}
            <!--end Modal enable-push-->

            <!--Modal Login-->
            {{>modal-login}}
            <!--end Modal Login-->

            <!--Modal FAQs-->
            {{>modal-faqs}}

            <!--end Modal FAQs-->
            <!--Modal Report-->
            {{>modal-report}}
            <!--end Modal Report-->

            <!--Modal Settings-->
            {{>modal-settings}}

            <!--end Modal Settings-->

            <!--Modal Profile-->
            {{>modal-profile}}

            <!--end Modal Profile-->

            <!-- Modal Share Promo-->

            {{>modal-share-promo}}
            <!--end Modal Share Promo->


  <!-- Menu handler icon (mobile)-->
            <div class="ui vertical segment web-title-container">
                  <div class="toc item">
                        {{!--Show own logo only if free promotion (=0) --}} 
                        {{#unless promotion.promoType}} 
                        <img class="ui fluid image logo" src="../assets/img/logo_1.png" alt="WhatsPromo Logo"> 
                        {{/unless}}

                        {{#if promotion.logoImage}} 
                        <img class="ui fluid image logo" src="{{promotion.logoImage}}" alt="Custom logo company" style="    max-width: 8em !important;     margin-left: 36vw !important;"> 
                        {{/if}}
                        <i class="right-icon large sidebar icon" style="margin-top:10px"></i>
                  </div>


            </div>
            <!--Promotion image-->
            <div class="image promo container">
                  <!-- <img class="ui fluid image" src="http://semantic-ui.com/images/wireframe/image.png">-->

                  {{!--
                  <img class="ui fluid image promo" src="https://images.unsplash.com/photo-1418225043143-90858d2301b4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=4801291798afca8b66391084f87d24f7"
                        alt="">--}}
                  <img class="ui fluid image promo" src="https://{{promotion.promoImage}}" alt=""> 
                  
                  {{#if promotion.promoEnded}}
                  <div class="text">
                        <h2 class="title"> <i class=" large hourglass empty icon"></i> La promoción ha finalizado </h2>
                        <p class="subtitle">Comprueba si has sido premiado</p>
                  </div>
                  {{/if}}
            </div>

            <!--Promotion title-->
            <h1 class="ui header title promo-title">{{promotion.promoTitle}}</h1>



            <!--Winners-->
            {{#if winners}} {{>winners}} {{/if}}
            <!-- end Winners-->



            <!--Promotion information accordion-->
            {{>promo-accordion}}
            <!--end Promotion information accordion-->

            <!--Footer-->
            {{>footer}}
            <!--end footer-->


            <!--Sticky menu (bottom)-->
            {{#unless promotion.promoEnded}}
                {{>sticky-menu}} 
             {{/unless}}
            <!--end Sticky menu (bottom)-->




      </div>
      <!--end pusher-->